<!-- todos.component.html -->
<main>
    <h1>Todo Lista</h1>
    <div class="amplify-fieldset">
        <input class="amplify-input--large" [(ngModel)]="newTodo" placeholder="Novi tekst" />
    </div>
    <button (click)="createTodo()">+ new</button>
    <ul>
        <li 
            *ngFor="let todo of todos;">
            {{ todo.content }} <button class="amplify-button" (click)="deleteTodo(todo.id)">x</button>
        </li>
    </ul>
    <div>
        <a href="https://docs.amplify.aws/gen2/start/quickstart/">
            Review next steps of this tutorial.
        </a>
    </div>
</main>
